.main-header {
  padding-top: 15px;

  @media only screen and (min-width: $tablet-width) {
      padding-left: 40px;
      padding-top: 50px;
    }

  @media only screen and (min-width: $desktop-width) {
    padding-left: 70px;
    padding-top: 50px;
  }
}

.main-header__logo svg {
  fill: #ffffff;
  width: 220px;
  height: 30px;

  @media only screen and (min-width: $tablet-width) {
    width: 224px;
    height: 45px;
  }
}

.main-header__logo:hover svg {
  fill: #000000;
  transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
}
